 <span class="dropdown viewgraph-inline viewgraphs pull-right float-right" id="report_plottabs">
        	<span id='custom_graph' class='graphicon {{addgraphs}}'>
                <a class="dropdown-toggle htitle" title={{# str }} graph, block_learnerscript {{/ str }} id="viewgraphs{{reportid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-area-chart custom"></i></a>
                {{# multiplot }}
                    <ul  class="menu dropdown-menu dropdown-menu-left dropdown-content" area-labelledby="viewgraphs{{reportid}}" id="align_menu">
                    {{# plottabs }}
                        {{> block_learnerscript/tabs }}
                    {{/ plottabs }}
                    </ul>
                {{/ multiplot }}
            </span>
        </span>
